.brand-side > .header {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 25px;
    color: springgreen;
}

.brand-side > .header > .subheader > h6 {
    font-size: 15px;
}

.contact-side a {
    transition: 0.2s ease ;
    text-decoration: none;
    color: #151013;
}
.contact-side a:hover {
    text-decoration: underline;
}
.contact-side .github {
    color: #151013;
}
.contact-side .telegram {
    color: #229ED9;
}
.smooth-transition {
    transition: all 0.5s;
}